select{
    border: none;
    background-color: #30363d !important;
    color: white !important;
  }
  
.input-group-text{
    background-color: #30363d !important;
    color: white !important;
    transition: background .2s ease-in-out;
}
  
.input-group-text:hover{
    cursor: pointer;
    background-color: rgb(33, 136, 253) !important; 
}
  
@media screen and (max-width:780px) {
    .card{
        padding: 20px;
        width: 100%;
    }

}