.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 29);
}

.container-fluid{
  display: flex;
  justify-content: center !important;
  align-content: center !important;
  padding: 0  !important;
  margin: 0 !important;
}

.password-container{
  position: relative !important;
}

.label-password{
  top: 17% !important;
  left: 93%;
  position: absolute;
}
.label-password:hover{
  cursor: pointer;
}

.link-signup{
  color: rgb(11, 125, 255);
  transition: color .2s ease-in-out;
}

.link-signup:hover{
  text-decoration: none;
}

input{
  border: none;
  background-color: #30363d !important;
  color: white !important;
}

section{
  width: 80%;
  color: white;
  margin-top: 20px;
  background-color: #303030;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}